@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: #011b33; }

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #011b33; }

a {
  text-decoration: none; }

p {
  font-size: 1.9rem;
  line-height: 1.5; }

p.sub-heading {
  font-size: 2rem;
  font-weight: 400; }

.header-primary--main {
  display: block;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 2rem; }

.header-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 2rem; }

.header-primary--action {
  font-size: 1.6rem;
  font-weight: 700; }

.heading-secondary {
  font-size: 4.5rem;
  font-weight: 900; }

.heading-tertiary {
  font-size: 3.6rem;
  font-weight: 700; }

.text-center {
  text-align: center; }

.mb-8 {
  margin-bottom: 8rem; }

.mb-4 {
  margin-bottom: 3.5rem; }

.mb-2 {
  margin-bottom: 1.5rem; }

.btn {
  border-radius: 5px;
  padding: 1.2rem 2.6rem;
  background-color: #eee;
  outline: none;
  vertical-align: middle;
  border: none;
  color: #fff;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  transition: all .2s ease-out; }
  .btn-nav {
    padding: 1rem 1.2rem; }
  .btn-primary {
    background: #3bb75e;
    color: #fff; }
    .btn-primary:hover {
      background-color: #27a34a;
      transform: translateY(-2px); }
  .btn-circle {
    width: 4rem;
    height: 4rem;
    padding: 0 !important;
    border-radius: 50%; }

.video-link--btn .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #09a5db;
  color: #fff; }

.dropdown-caret::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2px;
  border-style: solid;
  border-width: .5rem;
  border-color: #011b33 transparent transparent transparent; }

.logo {
  margin: 1rem 0; }
  .logo-box {
    display: flex;
    justify-content: space-between; }
  .logo-item {
    height: 3rem; }

.container {
  max-width: 1280px;
  margin: 0 auto; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 0; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) /3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) /3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) /4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) /4) +  6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) /4) + 2* (6rem)); }

.header {
  height: 110vh;
  background: #f1fef4 url(../img/map.svg);
  width: 100%;
  position: relative; }
  .header-body {
    background-color: #f1fef4;
    width: 60%;
    height: 110vh; }
  .header-text-box {
    position: absolute;
    top: 30%;
    left: 0;
    padding: 0 3rem;
    margin-left: 4rem;
    transition: .3s ease-out;
    animation: moveInBottom .7s ease-out; }
    .header-text-box--home {
      z-index: 2; }
  .header-bottom {
    padding: 0 3rem;
    margin: 0 4rem;
    margin-top: -10rem;
    margin-bottom: 2rem; }
    .header-bottom--left, .header-bottom--right {
      width: 50%;
      float: left; }
    .header-bottom--left p {
      font-size: 1.5rem;
      font-weight: 700; }
    .header-bottom--left .logo-item--header:not(:last-child) {
      margin-right: 2rem; }
    .header-bottom--right {
      text-align: right;
      padding-left: 6rem; }
      .header-bottom--right .video-link {
        display: flex;
        align-items: center; }
        .header-bottom--right .video-link--text {
          font-size: 1.6rem;
          font-weight: 700; }
        .header-bottom--right .video-link--btn {
          margin-left: 1rem; }
        .header-bottom--right .video-link:hover .btn {
          transform: scale(1.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15); }

.navbar {
  padding: 1.2rem 4.8rem;
  width: 100%;
  display: flex; }
  .navbar-main {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; }
  .navbar-green--trans {
    background-color: rgba(241, 254, 244, 0.8); }
  .navbar-brand {
    display: inline-flex;
    margin-right: 2.4rem;
    line-height: 1;
    height: 4rem;
    align-items: center; }
    .navbar-brand img {
      height: 2.5rem; }
  .navbar-nav--left, .navbar-nav--right {
    display: flex;
    align-items: center; }
  .navbar-nav--menu {
    list-style-type: none; }
    .navbar-nav--menu li {
      display: inline-flex;
      height: 4rem;
      align-items: center; }
    .navbar-nav--menu a {
      text-decoration: none;
      color: #011b33;
      font-size: 1.5rem;
      font-weight: 700;
      position: relative;
      padding-right: 2rem;
      transition: all .3s; }
      .navbar-nav--menu a:hover {
        color: #09a5db; }
      .navbar-nav--menu a.btn-primary {
        background-color: #3bb75e;
        color: #fff; }
        .navbar-nav--menu a.btn-primary:hover {
          background-color: #27a34a;
          color: #fff; }
      .navbar-nav--menu a .flag-icon {
        height: 1.2rem; }
      .navbar-nav--menu a.dropdown-caret:hover::after {
        border-color: #09a5db transparent transparent transparent; }

.page-section {
  padding: 10rem 3rem; }
