*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: #011b33; }

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #011b33; }

a {
  text-decoration: none; }

.text-center {
  text-align: center; }

.mb-8 {
  margin-bottom: 8rem; }

.mb-4 {
  margin-bottom: 3.5rem; }

.mb-2 {
  margin-bottom: 1.5rem; }

a.btn, .btn {
  border-radius: 5px;
  padding: 1rem 1.2rem;
  background-color: #eee;
  outline: none;
  vertical-align: middle;
  color: #fff;
  transition: all .2s ease-out; }
  a.btn-primary, .btn-primary {
    background: #3bb75e;
    color: #fff; }
    a.btn-primary:hover, .btn-primary:hover {
      background-color: #27a34a;
      transform: translateY(-2px); }

.dropdown-caret::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2px;
  border-style: solid;
  border-width: .5rem;
  border-color: #011b33 transparent transparent transparent; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 0; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) /3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) /3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) /4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) /4) +  6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) /4) + 2* (6rem)); }

.header {
  height: 100vh;
  background-color: #f1fef4;
  width: 100%;
  position: relative; }

.navbar {
  padding: 1.2rem 4.8rem;
  width: 100%;
  display: flex; }
  .navbar-main {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100; }
  .navbar-green--trans {
    background-color: rgba(241, 254, 244, 0.5); }
  .navbar-brand {
    display: inline-flex;
    margin-right: 2.4rem;
    line-height: 1;
    height: 4rem;
    align-items: center; }
    .navbar-brand img {
      height: 2.5rem; }
  .navbar-nav--left, .navbar-nav--right {
    display: flex;
    align-items: center; }
  .navbar-nav--menu {
    list-style-type: none; }
    .navbar-nav--menu li {
      display: inline-flex;
      height: 4rem;
      align-items: center; }
    .navbar-nav--menu a {
      text-decoration: none;
      color: #011b33;
      font-size: 1.5rem;
      font-weight: 700;
      position: relative;
      padding-right: 2rem; }
      .navbar-nav--menu a:hover {
        color: #09a5db; }
      .navbar-nav--menu a.btn-primary {
        background-color: #3bb75e;
        color: #fff; }
        .navbar-nav--menu a.btn-primary:hover {
          background-color: #27a34a;
          color: #fff; }
      .navbar-nav--menu a .flag-icon {
        height: 1.2rem; }
      .navbar-nav--menu a.dropdown-caret:hover::after {
        border-color: #09a5db transparent transparent transparent; }
