body{
    font-family: 'lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: $color-primary;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.9rem;
    line-height: 1.5;
}
p.sub-heading{
    font-size: 2rem;
    font-weight: 400;
}
.header-primary{
    &--main{
        display: block;
        font-size: 4.8rem;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
    &--action{
        font-size: $default-font-size;
        font-weight: 700;
    }
}

.heading-secondary{
    font-size: 4.5rem;
    font-weight: 900;
}

.heading-tertiary{
    font-size: 3.6rem;
    font-weight: 700;
}
