.testimonial-header{
    width: 100%;

    &--img{
        height: 3rem;

        img{
            max-height: 100%;
        }
    }
}

.testimonial-author{
    display: flex;
    align-items: center;

    &--img{
        height: 5rem;
        margin-right: 1.2rem;
        img{
            max-height: 100%;
            border-radius: 50%;
        }
    }
    &--name{
        font-weight: 700;
        font-size: 1.7rem;
        margin-bottom: .5rem;
    }

    &--position{
        font-size: 1.2rem;
    }
}

.sign-in{
    // &--text{
    //     display: flex;
    //     align-items: center;
    // }
    &--btn{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 10rem;
    }
}